body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*navbar section css*/
.navbar{
    padding: 10px 10px;
    margin: 0;
    background: white !important;
}
.navbar-brand{
    margin-left: 2%;
    padding: 2px;
}
.navbar-brand img{
    width: 90px;
    height: 40px;
}
.navbar-nav .nav-item .nav-link{
    font-weight: bold;
    color: black !important;
}
.collapse button{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}
.collapse .fa-solid{
    margin: 2%;
}
/*End navbar section css*/

/*section 1 css*/
.section-1{
    padding-top: 5%;
    
}
.section-1 .A{
    padding-top: 10%;
}
.section-1 .A1{
    width: 90%;
    padding: 10%;
}
.section-1 .A1 p{
    padding-top: 10%;
    padding-bottom: 10%;
}
.section-1 .B{
    padding-bottom: 10%;
}
.section-1 .A1 .bout{
    margin: 2%;
}
.section-1 .A1 button{
    font-weight: bold;
    background-color: red;
}
.section-1 img{
    padding-top: 10%;
    width: 100%;
    position: relative;
    left: 15px;
}
/*End section 1 css*/

/*section 2 css*/
.section-2{
    margin-bottom: 2%;
}
.section-2 .boite-1{
    padding-top: 10%;
    padding-bottom: 14%;
    border-radius: 15px;
}
.section-2 .boite-1 .bo1{
    margin: 5%;
    font-weight: bold;
    font-size: 28px;
}
.section-2 .boite-2{
    border-radius: 15px;
}
.section-2 .boite-1 .bo2 p{
    font-weight: bold;
}
.section-2 .boite-2 .bo2 p{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.section-2 .boite-2 .bo4 button{
    background: red;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
/* End section 2 css*/

/*section3 css*/
.section-3{
    padding: 1%;
    margin-bottom: 2%;
}
.section-3 .boite-3{
    margin: 1%;
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
}
.section-3 .boite-3 p{
    padding-top: 5%;
    font-weight: bold;
}
/*End section3 css*/

/*section 4*/
.section-4{
    background: red !important;
    padding-top: 5%;
}
.section-4 .wave1{
    width: 100%;
}
/*End section 4*/

/*section 5*/
.section-5{
    margin: 0;
}
.section-5 button{
    background: red;
    color: white;
    font-weight: bold;
}
.section-5 .coachs{
    padding-top: 5%;
}
.section-5 .coachs p{
    font-weight: bold;
}
/* Endsection 5*/

/*section 6*/
.section-6{
    margin: 0;
    background: red;
    padding-top: 2%;
    padding-bottom: 4%;
}
/*section 6*/

/*section 7 css*/
.section-7{
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}
.section-7 h1{
    font-weight: bold;
    color: black !important;
}
.section-7 .container-fluid{
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgb(225, 243, 198);
}
.section-7 .container-fluid .bout-A button{
    background: red;
    font-weight: bold;
}
.section-7 .container-fluid .trans:hover{
    transform: scale(1.02);
}
/*section 7 css*/

/*footer section*/
.footer{
    margin: 0;
    padding-top: 5%;
    padding-bottom: 1%;
    background: green;
}
.footer .footer-div p{
    font-weight: bold;
}
.footer .footer-div .fab{
    font-size: 30px;
    color: white !important;
}
/*footer section*/